{
    "server" : {
        "interface": "0.0.0.0",
        "port": 3000
    },

    "youtube": {
        "api_key": "MY_YOUTUBE_API_V3_KEY"
    },

    "playlists": [
        "PLAYLIST_ID",
        "ANOTHER_ONE",
    ],

    "downloads": {
        "max_items_in_feed": 5, // Delete this line for infinite feed items
        "path": "/path/to/folder",
        "url": {
            "host": "http://localhost:3000",
            "subdir": "/item"
        }
    }
}

